@paddingWidth: 0.8rem;

.cart_card {
    line-height: initial;
    border-radius: 5px;


    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;



    &_underline {
        //border-bottom: 1px solid #ccc;
        padding: @paddingWidth;
    }

    &_shopname {
        margin-left: @paddingWidth;
    }

    &_container {
        padding: 5%;

        .cart_card_img {
            // width: 5rem;
            margin-left: @paddingWidth;
            img {
                width: 100%;
            }
        }

        .title_text {
            //font-size: 0.8rem;
        }

        .commodity_prop{
            //font-size: 0.8rem;
            color: #999999;
        }

        .select_text {}
        .price_text {
            color: darkorange;
            //font-size: 0.8rem;
            margin-left: -0.2rem;
        }

        .input_num {
            //font-size: 0.8rem;
            //flex: 0 0 4rem;
        }
        .input_delete {
            //font-size: 0.8rem;
            flex: 0 0 2rem;
        }
    }
}

.putincart.cart_summary {
    background-color: white;
    bottom: @tabHeight;
    height: auto;
}

//删除的层
.overlay {
    line-height: initial;
    background-color: white;
    overflow-x: hidden;
    position: fixed;
    z-index: inherit;
    margin-left: 30%;
    height: inherit;
    //padding: 1rem;
    width: 100%;
    transition: 0s;
}

.step1 {
    margin-left: 4%;
    padding-right: 5%;
    width: 80%;
    display: flex; 
    // justify-content: space-around;
}

.add_minus { 
    // font-size: 1.7rem;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 2.5rem;
    line-height:2.5rem;
    // border: 1px solid rgb(136, 128, 128);
    // border-radius: 15%;
    // text-align: center;
}
.value {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 2.5rem;
    line-height:2.5rem;
    text-align: center;
}
