@brand-primary: orange;

.popup_modal {
  .am-modal-button-group-v .am-modal-button {
    background: @brand-primary;
    color: #fff;
  }

  .popup_modal_header {
    border-bottom: 1px solid #eee;
    font-size: 1rem;

    .title {
      padding-left: 5%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

    }

    .salePrice_inbound {
      padding-left: 5%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }

    .extractPrice {
      padding-left: 5%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }


  }

  .popup_modal_content {
    max-height: 20rem;

    .content_sec {
      padding-bottom: 1rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #eee;

      header {
        color: #333;
      }

      .select_item {
        display: inline-block;
        text-align: center;
        min-width: 2rem;
        border: 1px solid #eee;
        border-radius: 25px;
        margin: 0.5rem 1rem 0 0;
        padding: 0.2rem 1rem;
      }

      .select_active {
        color: #333;
        border-color: #999;
        font-weight: bold;
      }
    }
  }
}

.add_minus {
  width: 2rem;
  height: 2rem;
  line-height: 2.2rem;
  border: 1px solid rgb(136, 128, 128);
  border-radius: 25%;
  text-align: center;
  font-size: 2rem;
}

.value {
  width: 4rem;
  height: 2rem;
  line-height: 2.2rem;
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}

.step {
  margin-left: 4rem;
  margin-bottom: 4px;
  width: 50%;
  display: flex;
}