
.sales_detail_line {
  margin: 0.5rem;
}

.tag {
  color: red;
  border: 1px solid darkorange;
  padding: 2px;
}

.my_product_info_div{
  line-height:25px;
  font-size: 0.8rem;
  .comm_num{
      //font-size: 0.7rem;
      text-align: end;
  }

  .detail_info {
      flex:0 1 20%;
      text-align: right;
  }
  .detail_val_left {
      flex:0 0 45%;
  }
  .detail_val_right {
      flex:0 0 20%;
  }

}